//#######FONTS########

@font-face {
    font-family: Lato;
    src: url(fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: Inter;
    src: url(fonts/Inter-VariableFont_slnt,wght.ttf);
}

@font-face {
    font-family: 'Alethia Next';
    src: url(fonts/AlethiaNext-Light.ttf);
}

@font-face {
    font-family: Aldrich;
    src: url(fonts/Aldrich-Regular.ttf);
}

@font-face {
    font-family: 'Spartan';
    src: url(' fonts/Spartan-SemiBold.woff2') format('woff2'),
        url(' fonts/Spartan-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Orbitron;
    src: url(fonts/Orbitron-VariableFont_wght.ttf);
}

@font-face {
    font-family: Rajdhani-Bold;
    src: url(fonts/Rajdhani-Bold.ttf);
}

@font-face {
    font-family: Rajdhani-Light;
    src: url(fonts/Rajdhani-Light.ttf);
}

@font-face {
    font-family: Rajdhani-Medium;
    src: url(fonts/Rajdhani-Medium.ttf);
}

@font-face {
    font-family: Rajdhani-Regular;
    src: url(fonts/Rajdhani-Regular.ttf);
}

@font-face {
    font-family: Rajdhani-SemiBold;
    src: url(fonts/Rajdhani-SemiBold.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(fonts/RobotoFlex-VariableFont_GRAD\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf);
}

@font-face {
    font-family: Museo;
    src: url(fonts/MuseoModerno-VariableFont_wght.ttf);
}

//#######RESETTING STYLES########
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

body._lock {
    overflow: hidden;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

//#######COLORS########
$color-blue: #A9BFE4;
$color-brown: #351F21;
$color-purple: rgba(255, 255, 255, 0.6);

$color-pink: #FFC2C7;
$color-white: #FFF;


//*******GRADIENT_BUTTON*********
#gradient-button {
    color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
    border: solid 2.21px;
    border-image: linear-gradient(272.52deg, #FFA6FA 47.49%, #3C79D5 98.81%)1;
}

.bubble {
    position: absolute;
    border-radius: 50%;
}

.bubble:nth-child(1) {
    width: 153.66px;
    height: 153.66px;
    left: 47.53px;
    top: 1642.71px;
    background: #FFB1EE;
}

.bubble:nth-child(2) {
    width: 153.66px;
    height: 153.66px;
    left: 941.85px;
    top: 3135.08px;
    background: #FFB1EE;
}

.bubble:nth-child(3) {
    width: 153.66px;
    height: 153.66px;
    left: 654.43px;
    top: 441.08px;
    background: #FFB1EE;
}

.bubble:nth-child(4) {
    width: 246px;
    height: 246px;
    left: 1042px;
    top: 1666px;
    background: #FF00C8;
}

.bubble:nth-child(5) {
    width: 246px;
    height: 246px;
    left: 477px;
    top: 2041px;
    background: #FF00C8;
}

.bubble:nth-child(6) {
    width: 271.94px;
    height: 271.94px;
    left: 36.48px;
    top: 551.62px;
    background: #FF00C8;
}

//*******CONTAINERS********
body {
    font-family: 'Inter';
    overflow-x: hidden;
    width: 100%;
    min-width: 0;
    background-size: cover;
    background: url(img/Full_page_background_image.png) 0px 0px/cover no-repeat;
    font-size: 100%;
}

.wrapper {
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-width: 0;
    background: rgba(32, 8, 59, 0.75);
    backdrop-filter: blur(92.3058px);
}

.container {
    // overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1393px;
    height: 100%;
    min-width: 0;
}

.menu-icon {
    display: none;
}



//*******HEADER********
.header {
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    &__left {
        margin: -5px 0 0 8px;
        display: flex;
        align-items: center;
        font-family: 'Orbitron';
        font-weight: 700;
        font-size: 19.8983px;
        line-height: 25px;
        color: $color-purple;
    }

    &__logo {
        margin: -2px 0 0 0;
        width: 20px;
        height: 28px;
    }

    &__name {
        margin: 3px 0 0 -2px;
    }

    &__white-text {
        color: $color-white;
    }

    &__links {
        display: flex;
        align-items: center;
        margin: -2px 325px 0 0;
    }

    &__link {
        font-family: 'Orbitron';
        background: transparent;
        font-weight: 700;
        font-size: 19.8983px;
        line-height: 25px;
        color: $color-purple;
        margin-left: 66.33px;
        flex-grow: 0;
    }

    &__right {
        display: flex;
        align-items: center;
        margin: -2px 10px 0 0;
    }

    &__cart {
        width: 30px;
        height: 30px;
        margin-right: 39px;
    }

    &__client {
        width: 22px;
        height: 22px;
    }
}

//********HEADER*********(END)



//*******DISCOVER********
.discover {
    display: flex;
    margin-top: 115px;
    display: flex;
    color: $color-white;
    flex-wrap: wrap;

    //-------DISCOVER_LEFT_SIDE-----(START)---
    &__left {
        margin: 0 54px 0 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        font-family: 'Spartan';
        font-style: normal;
        font-weight: 600;
        font-size: 66.3276px;
        line-height: 91px;
        max-width: 850px;
    }

    &__gradient-text {
        background: linear-gradient(272.38deg, #43A5E3 46.06%, #FF56F6 81.53%);
        background-clip: text;
        margin-left: -1px;
        -webkit-text-fill-color: transparent;
    }

    &__text {
        margin-top: 21px;
        font-family: 'Rajdhani-Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 26.531px;
        line-height: 44px;
        max-width: 657px;
    }

    &__buttons {
        margin-top: 40px;
        display: flex;
        align-items: center;
    }

    &__explore-outside {
        position: relative;
        width: 254px;
        height: 68px;
        border-radius: 25px 5px 25px 5px;
        background: linear-gradient(92.23deg, #ffa6fb 21.43%, #dd9ef4 50%, #407ad5 117.04%);
        clip-path: polygon(0% 28%,
                17% 0%,
                100% 0%,
                100% 73%,
                85% 100%,
                0% 100%);
        letter-spacing: 1.5px;
        box-shadow: 1px 2.3px 57.2px 0px #FF56F682;
    }

    &__explore-text {
        color: $color-white;
        font-family: 'Orbitron';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        margin: 1px 0 0 0;
    }

    &__explore-inside {
        display: none;
        position: absolute;
        top: 2px;
        left: 2px;
        width: 250px;
        height: 64px;
        border-radius: 25px 5px 25px 5px;
        background: linear-gradient(92.23deg, #406AFF -17%, #3BACE2 0%, #B936EE 50%, #FF56F6 80%);
        clip-path: polygon(0% 28.5%,
                17% 0%,
                100% 0%,
                100% 72.5%,
                85% 100%,
                0% 100%);

        display: flex;
        justify-content: end;
        align-items: center;
        gap: 12px;
        padding-right: 31px;
        font-size: 19px;
    }


    &__arrow {
        margin: 0 2px 0 -2px;
    }

    &__create {
        margin-left: 36px;
        font-family: 'Orbitron';
        font-weight: 700;
        font-size: 19.8983px;
        line-height: 25px;
        background: linear-gradient(89.89deg, #42A6E3 2.33%, #FF56F6 101.4%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        max-width: 150px;
        max-height: 25px;
        // letter-spacing: 1px;
    }

    &__counts {
        display: flex;
        align-items: center;
        margin: 65px 0 0 -5px;
    }

    &__counts-container {
        margin: 0 -17px 0 5px;
        display: flex;
        flex-direction: column;
    }

    &__line {
        width: 63px;
        height: 1px;
        background: rgba(255, 255, 255, 0.26);
        transform: rotate(90deg);
    }

    &__numbers {
        width: 117px;
        font-family: 'Aldrich';
        font-style: normal;
        font-weight: 400;
        font-size: 39.7965px;
        line-height: 53px;
    }

    &__text-description {
        margin: -2px 0 0 -1px;
        font-family: 'Alethia Next';
        font-size: 17px;
        line-height: 22px;
        color: $color-purple;
    }

    //-------DISCOVER_LEFT_SIDE-----(END)---

    //-------DISCOVER_RIGHT_SIDE-----(START)---
    &__auction {
        position: relative;
        margin: 0 0 20px 60px;
    }

    &__img {
        background: url(img/cyber_angel.png);
        border-radius: 15px;
        margin: 17px 0 0 -10px;
        width: 400px;
        height: 477px;
        filter: drop-shadow(0px 4.42184px 4.42184px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4.42184px 4.42184px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4.42184px 4.42184px rgba(0, 0, 0, 0.25));
    }

    //*********CARD_DISCOVER*********(START)
    .card {
        overflow: visible;
        z-index: 100;
        position: absolute;
        bottom: -35px;
        left: 145px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 336px;
        height: 180px;
        background: url(img/card_background.png);

        //*************CARD_TOP********(START)*******
        &__top {
            display: flex;
            width: 100%;
            height: 50%;
        }

        //*************CARD_LEFT********(START)*******
        &__left {
            display: flex;
            flex-direction: column;
            width: 50%;
            height: 50%;
        }

        &__title {
            font-family: 'Rajdhani-Bold';
            font-weight: 700;
            font-size: 17.6873px;
            margin: 35px 0 0 26px;
        }

        &__account {
            display: flex;
            align-items: center;
            margin: 8px 0 0 25px;
        }

        &__avatar {
            width: 30px;
            height: 30px;
            margin-right: 3px;
        }

        &__account-name {
            font-family: 'Rajdhani-Semibold';
            font-weight: 600;
            font-size: 15px;
            letter-spacing: 0.3px;
            margin-right: 5px;
        }

        &__auth-icon {}

        //*************CARD_LEFT*******(END)********

        //*************CARD_TOP********(END)*******


        //*************CARD_RIGHT*********(START)******
        &__right {
            display: flex;
            align-items: end;
            flex-direction: column;
            width: 50%;
            height: 50%;
        }

        &__text {
            margin: 40px 60px 0 0;
            font-family: 'Rajdhani-Semibold';
            font-weight: 600;
            font-size: 11.0546px;
            opacity: 0.7;
        }

        &__auction-container {
            display: flex;
            margin: 5px 23px 0 0;
        }

        &__time-container {
            margin: 0 0 0 23px;
        }

        &__time-container:nth-child(2) {
            margin: 0 0 0 16px;
        }

        &__numbers {
            font-family: 'Rajdhani-SemiBold';
            font-weight: 600;
            font-size: 17px;
        }

        &__time-type {
            font-family: 'Rajdhani-Medium';
            font-weight: 500;
            font-size: 11.0546px;
            opacity: 0.7;
            margin: 0 0 0 0;
        }

        //*************CARD_RIGHT*********(END)******


        //**********CARD_BOTTOM*******(START)****
        &__bottom {
            display: flex;
            width: 100%;
            height: 50%;
        }

        &__price-text {
            font-family: 'Rajdhani-SemiBold';
            font-style: normal;
            font-weight: 600;
            font-size: 10px;
            opacity: 0.7;
            letter-spacing: 0.5px;
            height: 35px;
            margin: 27px 0 0 26px;
        }

        &__bid-info {
            display: flex;
            align-items: center;
            margin: 1px 0 0 25px;
        }

        &__eth-icon {
            margin-right: 5px;
        }

        &__bid-price-eth {
            font-family: 'Orbitron';
            font-weight: 600;
            font-size: 9.71776px;
            line-height: 12px;
            margin-right: 7px;
        }

        &__bid-price-dollars {
            opacity: 0.7;
            font-family: 'Rajdhani-Regular';
            font-weight: 400;
            font-size: 10px;
            line-height: 35px;
            letter-spacing: 0.5px;
        }

        &__button {
            margin: 34px 15px 0 0;
            color: $color-white;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
            font-family: 'Rajdhani-Semibold';
            font-style: normal;
            font-weight: 600;
            font-size: 17.6873px;
            line-height: 46px;
            width: 125px;
            height: 40px;
            border-radius: 6px;
            box-shadow: -20px 4.42px 80.22px 0px #FF56F682;
        }

        &__button::before {
            content: "";
            width: 125px;
            height: 40px;
            position: absolute;
            border-radius: 4px;
            padding: 2px;
            background: linear-gradient(272.52deg, #FFA6FA 47.49%, #3C79D5 98.81%);
            mask: linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            mask-composite: exclude;
        }

        &__arrow {
            margin-left: 10px;
            width: 24.32px;
            height: 9.22px;
        }

        //*************CARD_BOTTOM*********(END)******
    }

    //*********CARD_DISCOVER*********(END)

    //-------DISCOVER_RIGHT_SIDE-----(END)---



    //-------DISCOVER_COMPANIES-----(START)---
    &__companies {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 120px 5px 0 5px;
        justify-content: space-between;
        align-items: center;
    }

    &__company {
        margin-bottom: 30px;
    }
}

//*******DISCOVER********



//******TOP-NFT**********
.top-nft {
    margin: 190px 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: $color-white;
    min-width: 0;

    &__upper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0 0 50px 0;
    }

    &__title {
        margin-left: 6.5px;
        font-family: 'Orbitron';
        font-weight: 700;
        font-size: 26.531px;
        letter-spacing: 0.5px;
    }

    &__view-all {
        margin-right: 10px;
        font-family: 'Orbitron';
        font-weight: 700;
        font-size: 26.531px;
        color: $color-white;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__arrow {
        margin: 0 0 0 20px;
        width: 52px;
        height: 26px;
    }

    &__main {
        overflow: hidden;
        margin-right: 5px;
        min-width: 0;
    }

    &__wrapper {
        max-width: 1653px;
        display: flex;
        min-width: 0;
    }

    &__block {
        margin-left: 5px;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        min-width: 0;
    }

    &__img {
        width: 437.7px;
        height: 384.7px;
    }

    &__explore-outside {
        margin-top: 40px;
        display: none;
        position: relative;
        width: 254px;
        height: 68px;
        border-radius: 25px 5px 25px 5px;
        background: linear-gradient(92.23deg, #ffa6fb 21.43%, #dd9ef4 50%, #407ad5 117.04%);
        clip-path: polygon(0% 28%,
                17% 0%,
                100% 0%,
                100% 73%,
                85% 100%,
                0% 100%);
        color: $color-white;
        font-family: 'Orbitron';
        font-style: normal;
        font-weight: 700;
        font-size: 19.8983px;
        line-height: 25px;
        letter-spacing: 1.5px;
    }

    &__explore-inside {
        display: none;
        position: absolute;
        top: 2px;
        left: 2px;
        width: 250px;
        height: 64px;
        border-radius: 25px 5px 25px 5px;
        background: #20083B;
        clip-path: polygon(0% 28.5%,
                17% 0%,
                100% 0%,
                100% 72.5%,
                85% 100%,
                0% 100%);
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 12px;
        padding-right: 31px;
        font-size: 19px;
    }


    &__explore-arrow {
        margin-left: 11px;
    }
}

.top-nft-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 439px;
    height: 236px;
    border: 2.88px solid;
    border-image: linear-gradient(145.77deg, rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0) 105.76%) 1;
    // background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) -1.52%, rgba(255, 255, 255, 0.024) 104.35%);
    background: transparent;
    // backdrop-filter: blur(100px);

    //*************CARD_TOP********(START)*******
    &__top {
        display: flex;
        width: 100%;
        height: 50%;
    }

    //*************CARD_LEFT********(START)*******
    &__left {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 50%;
    }

    &__title {
        font-family: 'Rajdhani-Bold';
        font-weight: 700;
        font-size: 23.0401px;
        margin: 40px 0 0 28px;
        display: flex;
        flex-wrap: nowrap;
        width: 200px;
    }

    &__account {
        display: flex;
        align-items: center;
        margin: 10px 0 0 28px;
    }

    &__avatar {
        width: 37.5px;
        height: 37.5px;
    }

    &__account-name {
        font-family: 'Rajdhani-Semibold';
        font-weight: 600;
        font-size: 20px;
        margin: 0 6px 0 4px;
    }

    &__auth-icon {
        width: 15.8px;
        height: 17.2px;
    }

    //*************CARD_LEFT*******(END)********

    //*************CARD_TOP********(END)*******


    //*************CARD_RIGHT*********(START)******
    &__right {
        display: flex;
        align-items: end;
        flex-direction: column;
        width: 50%;
        height: 50%;
    }

    &__text {
        font-family: 'Rajdhani-SemiBold';
        font-weight: 600;
        font-size: 14px;
        opacity: 0.7;
        margin: 45px 82px 0 0;
    }

    &__auction-container {
        display: flex;
        margin: 8px 40px 0 0;
    }

    &__time-container {
        margin-left: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__numbers {
        font-family: 'Rajdhani-SemiBold';
        font-weight: 600;
        font-size: 23px;
    }

    &__time-type {
        font-family: 'Rajdhani-Medium';
        font-weight: 500;
        font-size: 14px;
        opacity: 0.7;
    }

    //*************CARD_RIGHT*********(END)******


    //**********CARD_BOTTOM*******(START)****
    &__bottom {
        display: flex;
        width: 100%;
        height: 50%;
    }

    &__price-text {
        font-family: 'Rajdhani-SemiBold';
        font-weight: 600;
        font-size: 14px;
        opacity: 0.7;
        margin: 28px 0 0 30px;
    }

    &__bid-info {
        display: flex;
        align-items: center;

        margin: 10px 0 0 23px;
    }

    &__eth-icon {
        width: 25.32px;
        height: 25.32px;
    }

    &__bid-price-eth {
        font-family: 'Orbitron';
        font-weight: 600;
        font-size: 12px;
        margin: 0 7px 0 4px;
    }

    &__bid-price-dollars {
        opacity: 0.7;
        font-family: 'Rajdhani-Regular';
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.5px;
        margin: 2px 0 0 0;
    }

    &__button {
        margin: 40px 21px 0 0;
        color: $color-white;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
        letter-spacing: 1px;
        font-family: 'Rajdhani-Semibold';
        font-style: normal;
        font-weight: 600;
        font-size: 21px;
        letter-spacing: 1px;
        width: 162px;
        height: 54px;
        line-height: 48px;
        box-shadow: 0px 1px 40px 0px #FF56F682;
    }

    &__button::before {
        content: "";
        width: 162px;
        height: 54px;
        position: absolute;
        padding: 3px;
        background: linear-gradient(272.52deg, #FFA6FA 47.49%, #3C79D5 98.81%);
        mask: linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        mask-composite: exclude;
    }

    &__arrow {
        margin-left: 13px;
        width: 31px;
        height: 12px;
    }

    //*************CARD_BOTTOM*********(END)******
}

//******TOP-NFT**********(END)



//*********EXPLORE-TYPES*********
.explore-types {
    display: flex;
    justify-content: space-between;
    margin: 177px 0 0 0;

    &__main {
        margin: 0px 130px 0 0;
    }

    &__title {
        letter-spacing: 0.5px;
        font-family: 'Orbitron';
        font-weight: 700;
        font-size: 26px;
        color: $color-white;
        margin: 20px 0 0 2px;
    }

    &__container {
        margin: 45px 0 0 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    &__button {
        position: relative;
        margin: 0 35px 35px 0;
        font-family: 'Orbitron';
        letter-spacing: 0.2px;
        font-weight: 700;
        font-size: 26.531px;
        color: $color-purple;
        width: 373px;
        height: 105px;
        background: transparent;
        border: 3px solid;
        border-image: linear-gradient(272.52deg, rgba(255, 166, 250, 0.3) 47.49%, rgba(60, 121, 213, 0.3) 98.81%) 1;
    }

    &__button.active {
        color: $color-white;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
        font-family: 'Orbitron';
        font-weight: 700;
        font-size: 26.531px;
        width: 375px;
        height: 105px;
        border-radius: 6px;
        box-shadow: 0px 4.42px 107.22px 0px #FF56F682;
        border-image: none;
    }

    &__button.active:before {
        content: "";
        width: 375px;
        height: 105px;
        position: absolute;
        border-radius: 6px;
        padding: 3px;
        background: linear-gradient(272.52deg, #FFA6FA 47.49%, #3C79D5 98.81%);
        mask: linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        mask-composite: exclude;
    }

    &__view-all {
        margin: -5px 39px 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        color: $color-white;
        float: right;
        font-family: 'Orbitron';
        font-weight: 700;
        font-size: 19.8983px;
    }

    &__arrow {
        margin-left: 15.5px;
        width: 52px;
        height: 15.5px;
    }

    &__girl {
        position: relative;
        left: -37px;
        bottom: 49px;
        width: 435px;
        height: 814px;
    }
}

//*******EXPLORE-TYPES*********(END)



//*********EXPLORE-SOCIALS*********
.explore-socials {
    margin: 110px 10px 0 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: $color-white;
    min-width: 0;

    &__upper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 2px 0 50px 0;
    }

    &__title {
        word-spacing: 2px;
        letter-spacing: 0px;
        font-family: 'Orbitron';
        font-weight: 700;
        font-size: 26.531px;
    }

    &__view-all {
        margin-right: 25px;
        font-family: 'Orbitron';
        font-weight: 700;
        font-size: 26.531px;
        line-height: 33px;
        color: $color-white;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__arrow {
        margin-left: 15px;
        width: 52px;
        height: 26px;
    }

    &__main {
        overflow: hidden;
        min-width: 0;
    }

    &__wrapper {
        max-width: 1653px;
        display: flex;
        min-width: 0;
    }

    &__block {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        min-width: 0;
    }

    &__explore-outside {
        margin-top: 40px;
        display: none;
        position: relative;
        width: 254px;
        height: 68px;
        border-radius: 25px 5px 25px 5px;
        background: linear-gradient(92.23deg, #ffa6fb 21.43%, #dd9ef4 50%, #407ad5 117.04%);
        clip-path: polygon(0% 28%,
                17% 0%,
                100% 0%,
                100% 73%,
                85% 100%,
                0% 100%);
        color: $color-white;
        font-family: 'Orbitron';
        font-style: normal;
        font-weight: 700;
        font-size: 19.8983px;
        line-height: 25px;
        letter-spacing: 1.5px;
    }

    &__explore-inside {
        display: none;
        position: absolute;
        top: 2px;
        left: 2px;
        width: 250px;
        height: 64px;
        border-radius: 25px 5px 25px 5px;
        background: #20083B;
        clip-path: polygon(0% 28.5%,
                17% 0%,
                100% 0%,
                100% 72.5%,
                85% 100%,
                0% 100%);
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 12px;
        padding-right: 31px;
        font-size: 19px;
    }


    &__explore-arrow {
        margin-left: 11px;
    }
}

.explore-socials-card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 437px;
    height: 564px;
    border: 2.88px solid;
    border-image: linear-gradient(145.77deg, rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0) 105.76%) 1;
    background: transparent;

    &__background {
        width: 431.13px;
        height: 205.62px;
    }


    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 0;
    }


    &__avatar {
        width: 163px;
        height: 163px;
        position: absolute;
        bottom: 295px;
    }

    &__title {
        margin: 67px 0 0 0;
        font-family: 'Rajdhani-Medium';
        font-weight: 500;
        font-size: 24px;
    }

    &__account {
        margin: 5px 0 0 18px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__account-name {
        margin-right: 8px;
        font-family: 'Rajdhani-Regular';
        font-weight: 400;
        font-size: 20px;
        color: #FFB1EE;
    }

    &__auth-icon {
        width: 15.84px;
        height: 17.28px;
    }

    &__auction-container {
        margin: 28px 0 0 0;
        display: flex;
        width: 340px;
        justify-content: space-between;
    }

    &__time-container {
        margin: 0 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__numbers {
        font-family: 'Rajdhani-SemiBold';
        font-weight: 600;
        font-size: 31.6897px;
        margin: 0 0 0 0;
    }

    &__time-type {
        font-family: 'Rajdhani-Medium';
        font-weight: 500;
        font-size: 19.8061px;
    }

    &__button {
        margin: 40px 0 0 0;
        color: $color-white;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
        letter-spacing: 1px;
        font-family: 'Rajdhani-SemiBold';
        font-weight: 600;
        font-size: 19.8983px;
        width: 240px;
        height: 55px;
        line-height: 45px;
        box-shadow: 0px 1px 40px 0px #FF56F682;
    }

    &__button::before {
        content: "";
        width: 240px;
        height: 55px;
        position: absolute;
        padding: 3px;
        background: linear-gradient(272.52deg, #FFA6FA 47.49%, #3C79D5 98.81%);
        mask: linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        mask-composite: exclude;
    }

    &__arrow {
        margin-left: 13px;
        width: 31px;
        height: 12px;
    }
}

//*********EXPLORE-SOCIALS*********(END)


//********TOP-SELLERS*************
.top-sellers {
    color: $color-white;
    margin: 130px 0 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        word-spacing: 2px;
        letter-spacing: 0px;
        margin: -2px 0 0 15px;
        font-family: 'Orbitron';
        font-weight: 700;
        font-size: 26.531px;
    }

    &__label {}

    &__selection {
        font-family: 'Orbitron';
        font-weight: 700;
        font-size: 26.531px;
        background: transparent;
        color: #FF56F6;
        cursor: pointer;
    }

    &__selection:focus,
    &__selection:hover {
        outline: none;
        border: 0px;
    }

    &__option {
        background-color: #270252;
        border: 0px;
        outline: none;
        transition: 1s;
    }

    &__text {
        word-spacing: 1px;
        margin: 23px 0 0 5px;
        max-width: 510px;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 17.6873px;
        text-align: center;
        line-height: 25px;
    }

    &__button {
        margin: 27.8px 0 0 0;
        color: $color-white;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
        letter-spacing: 1px;
        font-family: 'Rajdhani-SemiBold';
        font-weight: 600;
        font-size: 19.8983px;
        width: 240px;
        height: 55px;
        line-height: 45px;
        box-shadow: 0px 1px 40px 0px #FF56F682;
    }

    &__button::before {
        content: "";
        width: 240px;
        height: 55px;
        position: absolute;
        padding: 3px;
        background: linear-gradient(272.52deg, #FFA6FA 47.49%, #3C79D5 98.81%);
        mask: linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        mask-composite: exclude;
    }

    &__explore-outside {
        display: none;
    }

    &__main {
        margin: 56px 0 0 25px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "first second third"
            "fourth fifth sixth"
            "seventh eighth ninth"
            "tenth eleventh twelwth";
    }

}

.top-sellers-card {
    margin: 0 37px 34.2px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 437.04px;
    height: 123.81px;
    background: url(img/top-sellers-card-background.svg);

    &__container {
        display: flex;
        align-items: center;
    }

    &__number {
        margin: 3px 0 0 30px;
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 19.0479px;
    }

    &__avatar {
        margin: 0 0 0 17.22px;
        width: 69.84px;
        height: 69.84px;
    }

    &__person-info {
        margin: 0 0 0 13.14px;
        display: flex;
        flex-direction: column;
    }

    &__name {
        margin: 0 0 15.72px 0;
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 19.0479px;
        letter-spacing: 0.5px;
    }

    &__sells {
        display: flex;
    }

    &__sells-emblem {
        margin: 0 4.23px 0 0;
        width: 8.47px;
        height: 13.76px;
    }

    &__sells-price {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 13.7568px;
    }

    &__button {
        margin: 15px 20px 0 0;
        letter-spacing: 0.1px;
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 14.7012px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FF0000;
        width: 100.6px;
        height: 36px;
        background-image: url(img/button-red.svg);
    }

    &__button.green {
        color: #00FF66;
        background-image: url(img/button-green.svg);
    }

    &__button-text {
        padding-left: 5px;
        ;
    }
}

.top-sellers-card:nth-child(1) {
    grid-area: first;
}

.top-sellers-card:nth-child(2) {
    grid-area: second;
}

.top-sellers-card:nth-child(3) {
    grid-area: third;
}

.top-sellers-card:nth-child(4) {
    grid-area: fourth;
}

.top-sellers-card:nth-child(5) {
    grid-area: fifth;
}

.top-sellers-card:nth-child(6) {
    grid-area: sixth;
}

.top-sellers-card:nth-child(7) {
    grid-area: seventh;
}

.top-sellers-card:nth-child(8) {
    grid-area: eighth;
}

.top-sellers-card:nth-child(9) {
    grid-area: ninth;
}

.top-sellers-card:nth-child(10) {
    grid-area: tenth;
}

.top-sellers-card:nth-child(11) {
    grid-area: eleventh;
}

.top-sellers-card:nth-child(12) {
    grid-area: twelwth;
}

//********TOP-SELLERS**********(END)

//********WHAT-ARE-NFT*********
.what-are-nft {
    margin: 160px 0 0 0;
    display: flex;
    flex-direction: column;
    position: relative;

    &__fullw-container {

        max-width: 1602.33px;
        max-height: 556.37px;
    }

    &__big-background {}

    &__small-background {
        display: none
    }

    &__card {
        color: $color-white;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 216px;
        left: 884px;
        background: url(img/what-are-nft-card.png);
        width: 577.05px;
        height: 473.14px;
    }

    &__title {
        margin: 60px 0 0 74px;
        letter-spacing: 1.5px;
        word-spacing: 0px;
        font-family: 'Inter';
        // font-feature-settings: 'salt' on, 'liga' off;
        font-weight: 900;
        font-size: 44px;
    }

    &__text {
        word-spacing: -2.5px;
        margin: 22px 0 0 71.2px;
        letter-spacing: 0.4px;
        width: 458.45px;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 20.0292px;
        line-height: 36px;
        font-feature-settings: 'salt' on, 'liga' off;
    }

    &__buttons {
        margin: 42.7px 0 0 71.2px;
        display: flex;
        flex-direction: row;
    }

    &__button {
        margin: 0 44.5px 0 0;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        background: transparent;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 17.8037px;
        line-height: 27px;
        font-feature-settings: 'salt' on, 'liga' off;
    }

    &__arrow {
        margin: 0 9px 0 0;
        width: 12.24px;
        height: 17.8px;
    }
}

//********WHAT-ARE-NFT*********(END)


//*******SUBSCRIBE**********
.subscribe {
    width: 100%;
    margin: 290px 0 0 12px;
    color: $color-white;
    display: flex;
    flex-direction: row;
    align-items: center;

    &__img-container {
        display: flex;
        width: 698.65px;
        height: 289.63px;
        order: 1;
    }

    &__img-big {}

    &__img-small {
        display: none;
    }

    &__main {
        margin: 20px 0 0 76.2px;
        display: flex;
        flex-direction: column;
        order: 2;
    }

    &__title {
        margin: 5px 0 0 0;
        word-spacing: 4px;
        font-family: 'Orbitron';
        font-weight: 700;
        font-size: 39.7965px;
        font-feature-settings: 'salt' on, 'liga' off;
    }

    &__text {
        word-spacing: 0.32px;
        letter-spacing: 0.1px;
        margin: 28px 0 0 0;
        max-width: 490.82px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 19.8983px;
        line-height: 36px;
    }

    &__form {
        margin: 50px 0 0 0;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__input {
        padding-left: 18px;
        width: 274.15px;
        height: 53.06px;
        color: #474A57;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15.4764px;
        line-height: 27px;
        border-radius: 5.53px 0 0 5.53px;
        letter-spacing: 0.1px;
    }

    &__submit {
        margin: 0 0 0 7px;
        color: $color-white;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 15.4764px;
        line-height: 22px;
        width: 150px;
        height: 53.06px;
        border-radius: 0 5.53px 5.53px 0;
        box-shadow: 0px 4.81747px 116.824px rgba(255, 86, 246, 0.51);
    }

    &__submit::before {
        content: "";
        width: 150px;
        height: 53.06px;
        position: absolute;
        border-radius: 0 5.53px 5.53px 0;
        padding: 2px;
        background: linear-gradient(272.52deg, #FFA6FA 47.49%, #3C79D5 98.81%);
        mask: linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        mask-composite: exclude;
    }
}

//*******SUBSCRIBE**********(END)

//*******FOOTER*************
.line-upperfooter {
    justify-self: start;
    float: left;
    margin: 162px 0 0 -90px;
    height: 1px;
    width: 100%;
    max-width: 1338.71px;
    border-bottom: solid 1.1px white;
    opacity: 0.2;
}

.line-underfooter {
    float: left;
    margin: 84px 0 0 -90px;
    height: 1px;
    width: 100%;
    max-width: 1338.71px;
    border-bottom: solid 1.1px white;
    opacity: 0.2;
}

.footer {
    margin: 96px 0 0 -40px;
    color: $color-white;
    display: flex;
    flex-direction: row;
    width: 100%;

    &__description {
        display: flex;
        flex-direction: column;
    }

    &__title {
        margin: 0px 0 0 -2px;
        display: flex;
        flex-direction: row;
    }

    &__title-text {
        margin: 4px 0 0 5px;
        font-family: 'Orbitron';
        font-weight: 700;
        font-size: 19.8983px;
    }

    &__logo {
        margin: 0 0 0 0px;
        width: 16.58px;
        height: 26.81px;
    }

    &__text {
        word-spacing: 0.5px;
        width: 281px;
        margin: 31px 0 0 -2px;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 15.4764px;
        line-height: 27px;
    }

    &__buttons {
        margin: 26.5px 0 0 -2px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__button {
        margin: 0 18px 0 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 26.53px;
        height: 26.53px;
        background: rgba(255, 255, 255, 0.2);
    }

    &__social-icon {}


    &__accordeon {
        margin: 3px 0 0 89.5px;
        display: flex;
        flex-direction: row;
    }

    &__block {
        margin: 0 34px 0 0;
        display: flex;
        flex-direction: column;
        width: 176.87px;
    }

    &__underline {
        display: none;
        width: 324px;
        border-bottom: 1px white solid;
        opacity: 0.2;
    }

    &__panel-heading {
        margin: 0 0 4.2px 0;
        letter-spacing: 0.4px;
        font-family: 'Inter';
        font-weight: 500;
        font-size: 19.8983px;
    }

    &__arrow {
        display: none;
    }

    &__panel {}

    &__link {
        color: #D9DBE1;
        display: flex;
        flex-direction: row;
        margin: 15px 0 0 1px;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 15.4764px;
        line-height: 26px;
    }

    &__new {
        height: 10px;
        margin: 0px 0 0 10px;
        color: #2EC5CE;
        font-family: 'Museo';
        font-weight: 400;
        font-size: 22.1092px;
    }
}


.underfooter {
    width: 100%;
    margin: 26px 0 40px -40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $color-white;

    &__copyright {
        margin: 3px 0 0 -4px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15.4764px;
        line-height: 27px;
    }

    &__buttons {
        margin: -3px 55px 0 0;
        display: inline-flex;
        align-items: center;
    }

    &__button {
        letter-spacing: 0.3px;
        color: white;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 15.4764px;
        background: transparent;
    }

    &__line {
        margin: 0 10px;
        height: 20px;
        border-left: #D9DBE1 solid 1px;
    }
}

//*******FOOTER*********(END)
@import 'media';